<!DOCTYPE html>
<html>
<head>
	<title>Sports Cars</title>

	<!-- head ---------------------------- -->
	   <%- include('./common/head') -%> 
	<!-- head closed --------------------- --> 

</head>
<body style="background-color:#e9ecef">

	<!-- Navbar ------------------------ -->
	   <%- include('./common/navforcontact') -%> 
	<!-- Navbar closed ----------------- -->

	<div class="jumbotron jumbotron-fluid text-center" style="color: #5C4480 ; font-family: 'Raleway', sans-serif;">
  		<div class="container">
    		<h1 class="display-4">If you are facing any issues or want to comment on my website then below are my contact details.</h1>
    		<br>
    		<h3>Mobile Number :<span style="font-family: 'Raleway', sans-serif ; font-size: 2rem ; color: #210152">(+91)7620099155</span></h3>
			<h3>Email Id :<span style="font-family: 'Raleway', sans-serif; font-size: 2rem ; color: #210152">atharvamashalkar1821@gmail.com</span></h3>

  		</div>
	</div>

	<!-- Bootstrap script tags ------------------------ -->
	   <%- include('./common/bootstrapScript') -%> 
	<!-- Bootstrap script tags closed ----------------- --> 
	
</body>
</html>