<!DOCTYPE html>
<html>
<head>
	<title>Note Me</title>
	<!-- head ---------------------------- -->
	   <%- include('./common/head') -%> 
	<!-- head closed --------------------- --> 
</head>
<body style="background-color: #e9ecef;">
	<!-- Navbar ------------------------ -->
	   <%- include('./common/navforhome') -%> 
	<!-- Navbar closed ----------------- -->

	<!-- Message -------------------------- -->
    <%- include('./common/message') -%>
    <!-- Message ends --------------------- -->

	<div class="jumbotron jumbotron-fluid text-center" style="color: #5C4480 ; font-family: 'Raleway', sans-serif;">
	  	<div class="container">

	    	<h1 class="display-4">Welcome to <span style="font-family: 'Modak', cursive; color: #210152" class="display-2">Note Me</span></h1>

	    	<h1 class="lead my-5" style="font-size: 2rem">Please

	    		<a class = "lead" href="/login" style="font-family: 'Modak', cursive; color: #210152 ; font-size: 3rem">Login</a>
	    		 to add your notes to our website</h1>

	    	<h1 class="lead my-5" style="font-size: 2rem">Don't worry!! your notes will be perfectly safe with us <i class="fas fa-smile-wink" color = '#210152' ></i> </h1>

	  	</div>
	</div>	

	<!-- Bootstrap script tags ------------------------ -->
	   <%- include('./common/bootstrapScript') -%> 
	<!-- Bootstrap script tags closed ----------------- --> 
	
</body>
</html>